<p></P>
<div class="aboutContent">
  <p>We are The "OVER THE EDGE" Cafe staff!<p>

  <p>Founder: Mayor McCheese</p>
  <img src="../pictures/mayormccheese.jpg" alt="FOUNDERMAN" style="width:304px;height:228px;"><br/>

  <p>Co-Founder: HamBurglar</p>
  <img src="../pictures/cofounder.jpg" alt="Co-FounderMan" style="width:304px;height:228px;"><br/>

  <p>Managers</p>
  <p>Ron</p>
  <img src="../pictures/ron2.jpg" alt="Co-FounderMan" style="width:304px;height:228px;"><br/>
  <p>Dwane</p>
  <img src="../pictures/manager2.jpeg" alt="Co-FounderMan" style="width:304px;height:228px;"><br/>
  <p>Mary</p>
  <img src="../pictures/manager3.jpg" alt="Co-FounderMan" style="width:304px;height:228px;"><br/>

 <h4>Cashiers</h4>
 <p>Consuela</p>
 <img src="../pictures/cashier1.jpg" alt="CASHIER" style="width:304px;height:228px;"><br/>
 <p>Stripes</p>
 <img src="../pictures/catcashier.jpg" alt="CASHIER" style="width:304px;height:228px;"><br/>
 <p>Spike</p>
 <img src="../pictures/dogcashier.jpg" alt="CASHIER" style="width:304px;height:228px;"><br/>
 <p>Squid</p>
 <img src="../pictures/squidward.jpg" alt="CASHIER" style="width:304px;height:228px;"><br/>
 <p>Pat</p>
 <img src="../pictures/patrick.jpg" alt="CASHIER" style="width:304px;height:228px;"><br/>
 <p>Mr.Bear</p>
 <img src="../pictures/bear.jpg" alt="CASHIER" style="width:304px;height:228px;"><br/>

 <h4>Head Chefs</h4>
 <p>Bobby</p>
 <img src="../pictures/bobby.jpg" alt="COOK" style="width:304px;height:228px;"><br/>
 <p>Harley</p>
 <img src="../pictures/cook2.jpg" alt="COOK" style="width:304px;height:228px;"><br/>
 <p>Mario</p>
 <img src="../pictures/cook.jpg" alt="COOK" style="width:304px;height:228px;"><br/>


 <p>We Love our Employees!</p>


</div>
