

  <div class="foodMenu1">
    <ul class="foodMenu">
      <div class="listmenu">Menu</div>
    <div ng-repeat="item in menu">
      <p class="menuItemName">{{item.menuitem}}-</p>
      <div class="foodinfo">
          <div class="foodinfo2">
        <p class="menuItemDescription">{{item.description}}</p></br>
        <p class="itemprice">${{item.price}}</p>
          </div>
        <div class="menuImage" style="background-image: url(../pictures/{{item.picture}});"></div>
      </div>

    </div>

    </ul>
  </div>
